{% extends "index.html" %}
{% block content %}

<table class="table table-success table-striped">
   <thead>
     <tr>
       <th scope="col">#</th>
       <th scope="col">Nombre del Curso</th>
       <th scope="col">Capacidad Máxima</th>
       <th scope="col">Profesor</th>
     </tr>
   </thead>
   <tbody>
     {% for curso in cursos %} 
     <tr>
       <th scope="row">{{ forloop.counter }}</th>
       <td>{{ curso.nombre }}</td>
       <td>{{ curso.capacidad_max }}</td>
       <td>{{ curso.profesor.nombre }} {{ curso.profesor.apellidos }}</td>  
     </tr>
     {% endfor %}
   </tbody>
</table>

{% endblock %}
